/* FOR HOME*/

body::before {
  display: block;
  content: '';
  height: 60px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}  

.TestM{
    padding: 4%;
    margin: auto;
}
.TestSize{
    width: 85%;
    padding-left: 20%;
}

.RLarrow-color{
  background-color: rgb(112, 112, 98);
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: scale-down;
} 

  #map{
    height: 65%;
  }
  #Address{
    height: 35%;
  }

  .IconD{
    font-size:20px;
    color: rgb(255, 195, 11);
  }
  .IconD:hover{
    color: rgb(255, 195, 11);
  }

  .arrow-color{
    color: rgb(255, 195, 11);
  }

  .ModelLink{
    text-decoration: none; 
    color: black;
  }
  .ModelLink:hover{
    color: black;
  }

  #GiveOTP{
    display: none;
  }

.developer{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.developer-card{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


/* FOR DASHBOARD*/

#TakeA:hover{
  color: azure;
}

.DropActive:active {
  color: black;
  background-color: rgb(247, 183, 9);
}

.IconD2{
  font-size:20px;
  color: rgb(29, 29, 28);
}

.IconD2:hover{
  color: rgb(29, 29, 28);
}

.arrow-color2{
  color: rgb(29, 29, 28);
}

#Main_container{
  background-image: url(/images/D_Background.jpg);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 71.6vh;
}

.Update_button{
  float: right;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  border-radius: 15px;
}

.Add_button{
  font-size: 15px;
  margin: 10px;
}

.ToDo_table{
  border-collapse: separate;
  /* table-layout: fixed; */
}

#table_div{
  max-height: 270px;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.Done_button{
  font-size: 10px;
  border-radius: 15px;
}

.Delete_Icon{
  color: red;
  height: 10px;
  height: 10px;
}

.Subject_select{
  border: 5px solid rgb(221, 221, 215);
}

